@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Ubuntu:400,700|Raleway:400|Roboto+Slab:400,700,300|Roboto:400,300,700,500);

html{
	border: none !important;
}

.header .grid,
.footer .grid,
.grid-1000 .pane-content,
.grid-1000 .view-content,
.grid-1000 .view-header{
  max-width: 1000px !important;
  margin: 0 auto;
}
.grid-1280 .pane-content,
.grid-1280 .view-content{
  max-width: 1280px !important;
  margin: 0 auto;	
}
body:not(.not-front) .main-content{
  max-width: 100% !important;	
}
body:not(.front) .main-content{
  max-width: 1000px !important;
  margin: 0 auto;	
}
body .header .top-menu-container{
	height: 50px;
	background-color: #00599C;
}

body .header .top-menu-container .grid div,
body .header .top-menu-container .grid nav{
	display: block; float:left; 
}

body .header .top-menu-container .form-item{
	margin: 0px;
}
body .header .top-menu-container #block-lang-dropdown-language{
	border-right: 1px solid #002D5C;
	margin-right: 390px;
}
body .header .top-menu-container #lang-dropdown-select-language{
	font-family:'Open Sans', sans-serif;
	font-weight: 500;
	color: #FFF;
	text-transform: uppercase;
	background-color: transparent;
	border: none;
	outline: none;
	background-image: url('../images/f-idiomas.png');
	background-repeat: no-repeat;
	background-position: 98% 50%;
	height: 50px;
	margin-right: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;	
}
body .header .top-menu-container #lang-dropdown-select-language option{
	display:block;
	background-color: #00599C;
}


body .header .top-menu-container .grid #block-menu-menu-top-menu{
}
body .header .top-menu-container .grid #block-menu-menu-top-menu ul{
	list-style: none; margin: 0px; padding: 0px;
}
body .header .top-menu-container .grid #block-menu-menu-top-menu ul li{
	list-style: none;
	display:inline-block; float:left;
	margin: 0px;
	padding: 0px;
}
body .header .top-menu-container .grid #block-menu-menu-top-menu ul li a{
	display: block;
  padding: 11px;
  border-left: 1px solid #002d5c;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;	
}

body .header .top-menu-container #block-search-form,
body .header .top-menu-container #block-menu-menu-top-menu{

}
body .header .top-menu-container .form-item-search-block-form input{
  width: 185px;
  height: 50px;
  border-style: none solid;
  border-right-width: 1px;
  border-right-color: #002d5c;
  border-left-width: 1px;
  border-left-color: #002d5c;
  border-top: none; border-bottom: none;
  background-color: #00457e;
  background-image: url('../images/lupa.png');
  background-position: 90% 50%;
  background-repeat: no-repeat;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 50px;
  box-sizing:border-box;
  margin-top: -5px\9;
}
body .header .top-menu-container #search-block-form .form-submit{
	display: none;
}

/*SLIDER*/

.flexslider{
	margin: 0px;
	background: none;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;	
}
#slider-home{
	margin-bottom: 50px;
}
#slider-home .flex-caption{
	position: absolute;
	width: 1000px;
	top: 40%;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;	
	text-align: center;
	background-image: url('../images/bg_caption.png');
	background-repeat: repeat;
	padding: 25px 0px 35px 0px;
	
}
#slider-home .flex-caption .slider-home-title h3{
	font-family: Ubuntu, sans-serif;
	font-size: 47px;
	text-transform: uppercase;
	font-weight: 500;
	color: white;
	margin: 0px;
}
#slider-home .flex-caption .slider-home-desc p{
	font-family: Raleway, sans-serif;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: normal;
	color: white;
	margin-bottom: 15px; margin-top: 15px; 	
}
#slider-home .flex-caption .slider-home-button a{
	display:block;
	width: 215px;
	margin: 0 auto;
  padding: 13px 0px;
  border: 2px solid white;
  border-radius: 4px;
	font-family: Ubuntu, sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: white; 
}
#slider-home .flex-control-paging{
	display: none;
}
#slider-home .flex-direction-nav{
	width: 1000px;
	margin: 0 auto;
	position: absolute;
	margin-top: -90px;
	right: 0px;
	left: 0px;
}
#slider-home .flex-direction-nav li a{
	width: 70px;
	height: 70px;
	overflow:hidden; 
	
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
#slider-home .flex-direction-nav li a:before{
  content: '';
  margin-left: 100px;
  height: 70px;	
}

#slider-home .flex-direction-nav a.flex-prev{
	background-image: url('../images/prev_slider.png');
}
#slider-home .flex-direction-nav a.flex-next{
	background-image: url('../images/next_slider.png');
}


/*********/

.breadcrumb{
	color: #6D6E70;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	padding: 20px 0px;
}
.breadcrumb a{
	color: #6D6E70;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	padding: 20px 0px;
	text-decoration: none;
}
.breadcrumb .crumbs-separator{
	margin:0px 5px;
	color: #6D6E70;
}

body .header .logo-menu-wrapper{
	background: none;
	height: 130px;
	background-color: #FFFFFF;
}
#logo{
	display:block;
	float:left;
	margin-top: 15px;
}
#block-system-main-menu ul{
	list-style: none;
	margin: 0px; padding: 0px; float: right; margin-top: 15px;
}
#block-system-main-menu ul li{
	display:inline-block; box-sizing: border-box; float:left;
	margin: 0px;
}
#block-system-main-menu ul li a{
  display: block;
  height: 80px;
  background-image: url('../images/active_menu.png');
  background-position: 120% 50%;
  background-repeat: no-repeat;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Ubuntu, sans-serif;
  color: #231f20;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  padding: 20px 0 0 20px;
  line-height: 17px;
}
#block-system-main-menu ul li.menu-510 a, #block-system-main-menu ul li.menu-562 a,
#block-system-main-menu ul li.menu-512 a, #block-system-main-menu ul li.menu-560 a,
#block-system-main-menu ul li.menu-513 a, #block-system-main-menu ul li.menu-559 a{
	width: 130px;
}
#block-system-main-menu ul li.last a{
	width: 65px;
}

#block-system-main-menu ul li a:hover,
#block-system-main-menu ul li a.active-{
  background-image: url('../images/active_menu.png');
  background-position: 0px 50%;
}

.panel-pane{
	clear:both;
}

/*PILARES*/
.pilares-titulo h2{
	color: #00599C;
	font-family: Ubuntu, sans-serif;
	font-size: 31px;
	text-transform: uppercase;
	font-weight: 400;
	text-align:center;
	letter-spacing: 2px;
	line-height: 36px;
}
.pilares-titulo h2 strong{

}
.pilares-descri p{
  font-family: Roboto, sans-serif;
  color: #58595B;
  font-size: 23px;
  font-weight: 300;
  text-align:center;
  padding: 0px 90px;
  letter-spacing: 1px;
  line-height: 30px;
}

.icons{
	clear:both;
	display: block;
	float: left;
	width: 100%;
	margin: 30px 0px;	
}
.icon {
  display: block;
  width: 105px;
  height: 105px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;  
}
.box_icon {
  display: block;
  width: 25%;
  float: left;
}
.titulo_icon {
  font-family: Roboto, sans-serif;
  color: #231f20;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
}
.icon.icon_1 {
  background-image: url('../images/solidez.png');
}
.icon.icon_2 {
  background-image: url('../images/responsabilidad.png');
}
.icon.icon_2 + p{
	line-height: 12px;
	padding-top: 10px;
}
.icon.icon_3 {
  background-image: url('../images/entrega.png');
}
.icon.icon_4 {
  background-image: url('../images/trayectoria.png');
}

.icon.icon_5 {
  background-image: url('../images/calidad.png');
}

.icon.icon_6 {
  background-image: url('../images/honestidad.png');
}


.panels-flexible-region{
	width: 100%;
}
.pane-views-servicios-block{
	background-color: #E6E7E8;
	overflow:hidden;
}
.pane-views-servicios-block .view-servicios{
	clear:both;
}

.pane-views-servicios-block .view-servicios .view-header h2{
	color: #00599C;
	font-family: Ubuntu, sans-serif;
	font-size: 38px;
	text-transform: uppercase;
	font-weight: 400;
	text-align:center;
	margin: 50px 0px;
}

.pane-views-servicios-block .view-servicios .view-content .views-row{
	float:left;
	height: 180px;
	position:relative;
}
.pane-views-servicios-block .view-servicios .view-content .views-row .views-field-title{
	position:absolute;
	width: 100%;
	height: 50px;
	background-image: url('../images/bgazul.png');
	background-repeat: repeat;
	bottom: 0px;
}
.pane-views-servicios-block .view-servicios .view-content .views-row .views-field-title a{
	display:block;
	width: 100%;
	height:50px;
	color: #FFF;
	font-family: Ubuntu, sans-serif;
	font-size: 15px;
	line-height: 50px;
	text-transform: uppercase;
	background-image: url('../images/icon_servicios.png');
	background-repeat: no-repeat;
	background-position: 93% 50%; 
	padding: 0px 40px 0px 15px;
	text-decoration: none;
}

.pane-views-servicios-block .view-servicios .view-content .views-row-4 .views-field-title a{
	line-height: 15px;
	padding-top: 11px;
}

.pane-views-servicios-block + .panel-separator,
.llamado-accion + .panel-separator{
	display:none;
}

.llamado-accion{
	background-color: #F6921E;
	padding: 30px 0px;
	overflow:hidden;
}
.bloque-llamado-accion-contacto-texto p{
	float:left;
	color: #FFF;
	font-family: Ubuntu, sans-serif;
	font-size: 31px;
	text-transform: uppercase;	
}
.bloque-llamado-accion-contacto-boton a{
  padding: 18px 50px 18px 25px;
  border: 2px solid white;
  border-radius: 4px;
  font-family: Ubuntu, sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: white;	
  float:right;
  margin-top: 24px;
}

.lineas{
  display:table;
  position: relative;
  /*left: 20px;
  display: inline-block;*/
  padding: 10px;
  width: auto;
  margin:auto;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 0px 140px;
}
 
.lineas:before,
.lineas:after {
  position: absolute;
  top: 50%;
  left: 0px; /*-20*/
  display: block;
  height: 1px;
  width: 90px;
  background: #58595B;
  content: " ";
}
.lineas:after {
  left: auto;
  right: 0px; /*-20*/
}

.pane-block-7,
.pane-block-9{
	background-color: #E6E7E8;
	overflow: hidden;
}

.bloque-home-caras-compromiso h2{
	color: #00599C;
	font-family: Ubuntu, sans-serif;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 400;
	text-align:center;
	padding-top: 30px; padding-bottom: 30px;	
}

.bloque-home-caras-compromiso-rows{
	overflow:hidden;	
}
.bloque-home-caras-compromiso-row{
	float:left;
	height: 180px;
	position:relative;	
}
.bloque-home-caras-compromiso-row-texto{
	position:absolute;
	width: 100%;
	height: 50px;
	background-image: url('../images/bgazul.png');
	background-repeat: repeat;
	bottom: 0px;	
}
.bloque-home-caras-compromiso-row-texto p{
	display:block;
	width: 100%;
	height:50px;
	color: #FFF;
	font-family: Ubuntu, sans-serif;
	font-size: 15px;
	line-height: 50px;
	text-transform: uppercase;
	/*background-image: url('../images/icon_servicios.png');*/
	background-repeat: no-repeat;
	background-position: 93% 50%; 
	padding: 0px 40px 0px 15px;
	text-decoration: none;
	margin: 0px;	
}
.compromiso-pie{
}
.compromiso-pie p{
	color: #404041;
	font-family: Ubuntu, sans-serif;
	font-size: 27px;
	text-transform: uppercase;
	font-weight: 400;
	text-align:center;
	margin: 30px 0px;	
}
.compromiso-pie a{
  padding: 18px 50px 18px 25px;
  border: 2px solid #404041;
  border-radius: 4px;
  font-family: Ubuntu, sans-serif;
  font-size: 22px;
  line-height: 23px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;

  display: block;
  max-width: 290px;
  padding: 10px 0px;
  color: #404041;
  text-align: center;
  margin: 0 auto;
  	
}

.view-blog{
	overflow: hidden;
	padding-bottom: 70px;
}
.view-blog .view-header h2{
  font-family: Ubuntu, sans-serif;
  font-size: 35px;
  font-weight: 400;
  color: #404041;
  text-transform: uppercase;
  padding-top: 30px; padding-bottom: 30px;
}

.view-blog .views-row{
  position: relative;
  width: 31%;
  min-height: 366px;
  padding: 30px;
  border-top: 4px solid #004c89;
  background-color: #f1f1f2;
  float: left;
  margin-right: 30px;
  box-sizing:border-box;	
}
.view-blog .views-row.views-row-last{
	margin-right: 0px;
}
.view-blog .views-row .views-field-title a{
  display: block;
  font-family: Ubuntu, sans-serif;
  color: #00599c;
  font-size: 27px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;	
}
.view-blog .views-row .views-field-created{
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Ubuntu, sans-serif;
  color: #6d6e70;
  font-size: 19px;
  font-style: italic;
  font-weight: 400;	
}
.view-blog .views-row .views-field-body p{
  margin-top: 25px;
  font-family: Roboto, sans-serif;
  color: #58595b;
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  text-align: justify;	
}
.view-blog .views-row .views-field-path a{
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 43px;
  height: 43px;
  background-color: #e6e7e8;
  background-image: url('../images/f-articulos.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-indent: 50px;
}

/* FOOTER */


body .footer{
	max-width: 100% !important;
	height: 400px;
	background-color: #00599C;
	padding-top: 30px;
	clear: both;
}

body .footer .footer-first-wrapper,
body .footer .footer-second-wrapper{
	float:left;
}
body .footer .footer-first-wrapper{
	width: 750px;
}
body .footer .footer-first-wrapper #block-menu-menu-footer-menu{
	margin-top: 35px;
}
body .footer .footer-first-wrapper #block-menu-menu-footer-menu ul{
}
body .footer .footer-first-wrapper #block-menu-menu-footer-menu ul li{
	list-style: none; float:left;
	margin: 0px; padding: 10px;
	margin-right: 5px;
}
body .footer .footer-first-wrapper #block-menu-menu-footer-menu ul li a{
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 17px;	
}
body .footer .footer-first-wrapper #block-menu-menu-footer-menu ul li.menu-550{
	margin-left: 10px;
}
body .footer .footer-first-wrapper #block-menu-menu-footer-menu ul li.menu-546,
body .footer .footer-first-wrapper #block-menu-menu-footer-menu ul li.menu-548,
body .footer .footer-first-wrapper #block-menu-menu-footer-menu ul li.menu-549,
body .footer .footer-first-wrapper #block-menu-menu-footer-menu ul li.last{
	width: 120px;
	margin-right: 0px;
}




body .footer .footer-second-wrapper{
	width: 250px;
}

body .footer .footer-second-wrapper #block-block-2 p,
body .footer .footer-second-wrapper #block-block-2 a{
	text-align: right;
	font-family: Roboto, sans-serif;
	color: white;
	font-size: 16px;
	text-decoration: none;
	line-height: 22px;
}
body .footer .footer-second-wrapper .redes-logos-footer{
	float:right;
}

body .footer .footer-second-wrapper #block-webform-client-block-1{
	float: right;
	margin-right:20px;
}

body .footer .footer-second-wrapper #block-webform-client-block-1 .email{
	border: none;
	height: 30px;
	color: #6D6E70;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	padding-left: 15px;
	width: 170px;
}
body .footer .footer-second-wrapper #block-webform-client-block-1 .webform-component-email{
	margin-top: 2px;
}
body .footer .footer-second-wrapper #block-webform-client-block-1 .webform-submit{
	background-color: transparent;
	border-radius: 3px;
	border: 2px solid #FFF;
	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #FFF;
	padding: 5px 10px;
}


/* Solidez y Respaldo */
.view-id-imagen_top .views-row{
	height:260px;
}
.views-field-field-imagen-top{
}
.view-id-imagen_top .views-field-nothing{
	position: relative;
	/*bottom: 0px;
	right: 0px;
	left: 0px;	*/
	background-image: url('../images/bgblanco.png');
	background-repeat: repeat;
	width: 1000px;
	height: 125px;
	margin: 0 auto;
	text-align:center;
	margin-top: -125px;
	
}
.texto-hover-imagen-top .texto-hover-imagen-top-titulo h3{
	font-family: Ubuntu, sans-serif;
	font-weight: bold;
	font-size: 34px;
	color: #00599C;
	line-height: 40px;
	letter-spacing: 2px;
	text-transform: uppercase;
	width: 600px;	
	margin: 0 auto;
	padding-top: 20px;
}

.page-node-22 #page-title{
	display: none;
}
.main .field-name-body p{
	font-family: Roboto, sans-serif;
	color: #58595B;
	font-weight: 300;
	font-size: 25px;
	text-align:center;
	line-height: 35px;
}

.submenu-list{
	margin: 0px; padding: 0px;
	border-bottom: solid 1px #A8ABAD;
	border-top: solid 1px #A8ABAD;
	margin-bottom: 40px;
}
.submenu-list li{
	display: inline-block;
  *zoom: 1;
  *display: inline;	
}
.submenu-list li a{
	display:block;
	color: #58595B;
	text-decoration: none;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 17px;
	text-transform: uppercase;
	padding: 20px 55px;
}
.submenu-list li.first a{
	padding-left: 0px !important;
}
.submenu-list li.last a{
	padding-right: 0px !important;
}
.submenu-list li a:hover{
	color: #00599C;
}
.view-id-historia{
	position: relative;
	padding-bottom: 60px;
}

.view-id-historia .view-header .bolita,
.view-id-historia .view-footer .bolita{
	width: 35px; height:35px;
	background-image: url('../images/ini-historia.png');
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
}
.view-id-historia .views-row{
	width: 360px;
	background-color: #F1F1F2;
	box-sizing:border-box;
	padding: 29px;
	margin-bottom: 60px;
	position: relative;
}
.view-id-historia .views-row .views-field-body .field-content{
	color: #58595B;
	font-family: Roboto, sans-serif;
	font-weight: normal;
	font-size: 17px;
	line-height: 22px;
	margin-bottom: 20px;
	
}
.view-id-historia .views-row-1{
	margin-top: 20px;
}
.view-id-historia .views-row-2{
	margin-top: 100px;
}
.view-id-historia .views-row .linea-union{
	width: 140px;
	height: 5px;
	background-image: url('../images/linea-derizq-historia.png');
	background-repeat:no-repeat;
	background-position: left center;
	position:absolute;
}
.view-id-historia .views-row.views-row-odd .linea-union{
	right: -140px;
	top: 60px;
}
.view-id-historia .views-row.views-row-even .linea-union{
	left: -140px;
	top: 120px;
}

.view-id-historia .item-list{
	display: none;
}


.view-id-historia .view-content{
	background-image: url('../images/linea-historia.png');
	background-repeat: repeat-y;
	background-position: top center;
	
}
.view-id-historia .views-row .views-field-field-ano-evento div{
	color: #00599C;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 54px;
	font-weight: bold;
	line-height: 54px;
	margin-bottom: 20px;
}


.solidez-mision-vision{
	background-color:#F1F1F2;
	overflow: hidden;
	padding: 30px 0 30px 0;
}
.solidez-mision-vision .solidez-mision-vision-encabezado h2{
	color: #58595B;
	font-family: Ubuntu, sans-serif;
	font-weight: normal;
	font-size: 35px;
	text-transform: uppercase;
}
.solidez-mision-vision .solidez-mision-vision-content .solidez-col{
	float: left;
	width: 46%;
}
.solidez-mision-vision .solidez-mision-vision-content .solidez-col1{
	margin-right: 80px;
}
.solidez-mision-vision .solidez-mision-vision-content .solidez-col h3{
	color: #00599C;
	font-family: Roboto, sans-serif;
	font-weight: normal;
	font-size: 27px;
	text-transform: uppercase;	
}
.solidez-mision-vision .solidez-mision-vision-content .solidez-col p{
	color: #58595B;
	font-family: Roboto, sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 23px;
	text-align: justify;
}

.solidez-liston-contacto-negro{
	background-color: #58595B;
	overflow: hidden;
	padding: 10px 0px 50px 0px;
}
.solidez-liston-contacto-negro .solidez-liston-contacto-negro-texto p{
	font-family: Ubuntu, sans-serif;
	font-weight: normal;
	font-size: 27px;
	text-transform: uppercase;
	color: #FFF;
	text-align:center;
	line-height: 33px;
	margin-bottom: 40px;
}
.solidez-liston-contacto-negro .solidez-liston-contacto-boton{
	text-align:center;
}
.solidez-liston-contacto-negro .solidez-liston-contacto-boton a{
  padding: 18px 50px;
  border: 2px solid white;
  border-radius: 4px;
  font-family: Ubuntu, sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  text-align:center;	
}

#block-views-fundadores-block{
	overflow: hidden;
}
.view-id-fundadores .fundadores-encabezado h2{
	color: #58595B;
	font-family: Ubuntu, sans-serif;
	font-weight: bold;
	font-size: 35px;
	text-transform: uppercase;
	padding-top: 30px;
	padding-bottom: 30px;		
}
.view-id-fundadores .fundadores-encabezado .flecha-go-up{
	position:relative;
}
.flecha-go-up a{
	display:block;
	width: 52px;
	height: 52px;
	background-image: url('../images/totop.png');
	background-repeat: no-repeat;
	background-position: center;
	position:absolute;
	right: 0px;
	top: -100px;
}

.view-id-fundadores .view-content .views-row{
	float: left;
	width: 48%;
	box-sizing:border-box;
	margin-bottom: 40px;
}
.view-id-fundadores .view-content .views-row-odd{
	margin-right: 4%;
}
.view-id-fundadores .view-content .views-row .fundador-imagen{
	float: left;
	width: 50%;
	box-sizing:border-box;
}
.view-id-fundadores .view-content .views-row .fundador-texto{
	float: left;
	width: 50%;
	box-sizing:border-box;
	padding-left: 10px;
}
.view-id-fundadores .view-content .views-row .fundador-texto .fundador-nombre,
.view-id-fundadores .view-content .views-row .fundador-texto .fundador-puesto{
	color: #00599C;
	font-family: Ubuntu, sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 21px;
	text-transform: uppercase;	
}
.view-id-fundadores .view-content .views-row .fundador-texto .fundador-nombre{
	margin-bottom: 10px;
}
.view-id-fundadores .view-content .views-row .fundador-texto .fundador-puesto{
	font-weight: normal;
	margin-bottom: 20px;
}
.view-id-fundadores .view-content .views-row .fundador-texto .fundador-descri{
	color: #404041;
	font-family: Roboto, sans-serif;
	font-weight: normal;
	font-size: 15px;
	line-height: 21px;
}

.solidez-liston-proyectos-amarillo{
	overflow: hidden;
	background-color: #F6921E;
	padding: 5px 0px 30px 0px;
}

.solidez-liston-proyectos-amarillo .solidez-liston-proyectos-amarillo-texto p{
	color: #FFF;
	font-family: Ubuntu, sans-serif;
	font-size: 31px;
	text-transform: uppercase;	
	text-align:center;
	line-height: 37px;	
}
.solidez-liston-proyectos-amarillo .solidez-liston-proyectos-amarillo-boton a{
	display:block;
  padding: 8px 15px;
  border: 2px solid white;
  border-radius: 4px;
  font-family: Ubuntu, sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: white;	
  width: 290px;
  margin:0 auto;
  text-align:center;
  line-height: 23px;
}

.view-premios .premios-encabezado-titulo h2{
	font-family: Ubuntu, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
	line-height: 36px;
	font-size: 35px;
	color: #58595B;
	padding-top: 30px;
	padding-bottom: 30px;		
}
.view-premios .premios-encabezado-texto p{
	font-family: Roboto, sans-serif;
	color: #58595B;
	font-size: 23px;
	font-weight: 300;
	text-align: center;
	letter-spacing: 1px;
	line-height: 30px;
	margin-bottom: 50px;	
}
.view-premios .view-content{
	clear:both;
	overflow: hidden;
}
.view-premios .view-content .views-row{
	width: 315px;
	min-height: 160px;
	float: left;
	background-color: #F1F1F2;
	box-sizing:border-box;
	padding: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
}
.view-premios .view-content .views-row p{
	font-family: Roboto, sans-serif;
	color: #58595B;
	font-size: 19px;
	font-weight: 300;
	line-height: 22px;
	margin: 0px;	
}

.view-premios .view-content .views-row.views-row-3,
.view-premios .view-content .views-row.views-row-6,
.view-premios .view-content .views-row.views-row-9,
.view-premios .view-content .views-row.views-row-12,
.view-premios .view-content .views-row.views-row-15{
	margin-right: 0px;
}

.view-premios{
	overflow:hidden;
	clear:both;
}
.view-premios .view-footer{
	clear:both;
	margin-bottom: 40px;
	margin-top: 20px;	
}
.view-premios .view-footer .premios-boton a{
	display: block;
	padding: 8px 15px;
	border: 2px solid #00599C;
	border-radius: 4px;
	font-family: Ubuntu, sans-serif;
	font-size: 22px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	color: #00599C;
	width: 290px;
	margin: 0 auto;
	text-align: center;
	line-height: 23px;	
}


#block-block-16{
	background-color: #F1F1F2;
	overflow: hidden;
}
.flecha-go-up{
	position:relative;
}
#block-block-16 .pilares .pilares-titulo{
	position:relative;
}
#block-block-16 .pilares .pilares-titulo h2{
	font-size: 35px;
	color: #58595B;
	padding-top: 30px;
	padding-bottom: 30px;		
}
#block-block-16 .pilares .pilares-descri p{
	padding: 0px;
}


/* QUE HACEMOS */
.page-node-54 #page-title{
	display: none;
}
.page-node-54 .main .field-name-body p{
	font-size: 21px;
}
.page-node-54 .texto-hover-imagen-top .texto-hover-imagen-top-titulo h3{
	width: 700px;
	font-size: 32px;
	line-height: 31px;
	letter-spacing: 0px;
	padding-top: 18px;
}
.page-node-54 .texto-hover-imagen-top .texto-hover-imagen-top-texto{
	font-family: Ubuntu, sans-serif;
	font-weight: bold;
	font-size: 23px;
	color: #00599C;
	letter-spacing: 0px;
	text-transform: uppercase;	
}
.page-node-54 .submenu-list li a{
	padding: 20px 18px;
}

#block-views-servicios-block-1 .view-content{
}
#block-views-servicios-block-1 .view-content .views-row{
	width: 100%;
	height: 610px;
	clear:both;
	overflow:hidden;
}
#block-views-servicios-block-1 .view-content .views-row .servicio-titulo{
	color:#58595B;
	text-transform: uppercase;
	font-family: Ubuntu, sans-serif;
	font-weight: normal;
	font-size: 28px;
	line-height: 33px;	
}
#block-views-servicios-block-1 .view-content .views-row .servicio-texto h4{
	color: #00599C;
	font-family: Roboto, sans-serif;
	font-weight: normal;
	font-size: 22px;
	margin-bottom: 10px;	
}
#block-views-servicios-block-1 .view-content .views-row .servicio-texto .servicio-descri{
	color: #58595B;
	font-family: Roboto, sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	clear:both;
	overflow:hidden;
}
#block-views-servicios-block-1 .view-content .views-row .servicio-texto .servicio-descri .ul-col{
	display: inline-block;
	float:left;
	width: 49%;
	box-sizing:border-box;
}

#block-views-servicios-block-1 .view-content .views-row .servicio-texto .servicio-descri .ul-col ul{
	color: #00599C;
	padding-left: 20px;
}
#block-views-servicios-block-1 .view-content .views-row .servicio-texto .servicio-descri .ul-col ul li{
	line-height: 18px;
	font-size: 20px;
}
#block-views-servicios-block-1 .view-content .views-row .servicio-texto .servicio-descri .ul-col ul li span{
	color: #58595B;
	font-size: 15px;
}
#block-views-servicios-block-1 .view-content .views-row .servicio-texto .servicio-descri .ul-col2{
	margin-left: 2%;
}

#block-views-servicios-block-1 .view-content .views-row .servicio-texto .servicio-cotizar{
	clear:both;
}
#block-views-servicios-block-1 .view-content .views-row .servicio-texto .servicio-cotizar a{
	display: block;
	padding: 8px 15px;
	border: 2px solid #00599C;
	border-radius: 4px;
	font-family: Ubuntu, sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	color: #00599C;
	width: 200px;
	text-align: center;
	line-height: 23px;
	margin-top: 10px;	
}

#block-views-servicios-block-1 .view-content .views-row .servicio-imagen,
#block-views-servicios-block-1 .view-content .views-row .servicio-texto{
	width: 50%;

}
#block-views-servicios-block-1 .view-content .views-row .servicio-imagen{
	float:left;
	width: 585px;
	
}
#block-views-servicios-block-1 .view-content .views-row .servicio-texto{
	float: left;
	box-sizing:border-box;
	padding: 40px 0px 20px 0px;
	width: 510px;
	margin-left: 45px;
	
}

#block-views-servicios-block-1 .view-content .views-row.views-row-1,
#block-views-servicios-block-1 .view-content .views-row.views-row-3,
#block-views-servicios-block-1 .view-content .views-row.views-row-5,
#block-views-servicios-block-1 .view-content .views-row.views-row-7{
	background-color: #F1F1F2;
}
#block-views-servicios-block-1 .view-content .views-row.views-row-2 .servicio-imagen,
#block-views-servicios-block-1 .view-content .views-row.views-row-4 .servicio-imagen,
#block-views-servicios-block-1 .view-content .views-row.views-row-6 .servicio-imagen,
#block-views-servicios-block-1 .view-content .views-row.views-row-8 .servicio-imagen{
	float: right;
}
#block-views-servicios-block-1 .view-content .views-row.views-row-2 .servicio-texto,
#block-views-servicios-block-1 .view-content .views-row.views-row-4 .servicio-texto,
#block-views-servicios-block-1 .view-content .views-row.views-row-6 .servicio-texto,
#block-views-servicios-block-1 .view-content .views-row.views-row-8 .servicio-texto{
	float: left;
	margin-left: 140px;
}

#block-views-proyectos-block h2{
	display: none;
}