/* 
    Document   : responsive para moviles
    Created on : 05-feb-2014, 13:04:09
    Author     : Keylor Mora
    Description:
        This CSS is used to apply the Responsive Appereance to the website.
*/


@media only screen and (max-width : 640px) {
#block-system-main-menu {
		display:none;
	}
	
	.slicknav_menu {
		display:block;
		margin-top: 0;
	}

	#block-menu-menu-top-menu{
		display: none;
	}
	
	#block-search-form{
		display: none;
	}

	body .header .top-menu-container {
	  height: 50px;
	  background-color: #00599C;
	  width: 50%;
	  position: absolute;
	  top: 0;
	  border-bottom: none;
	}

	body .header .top-menu-container #block-lang-dropdown-language{
		border-right: 0;
	}

	.slicknav_nav a{
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-size: 17px;
	}

	#logo {
	  float: none;
	  
	  text-align: center;
	}

	body .footer .footer-first-wrapper #block-menu-menu-footer-menu ul li{
		width: 100% !important;
		text-align: center;
	}

	#block-block-1 {
	  text-align: center;
	}

	body .footer .footer-first-wrapper{
		width: 100%;
		float: none;
	}

	body .footer {
	  height: auto; 
	  padding-bottom: 50px;

	}

	body .footer .footer-second-wrapper {
	  width: 100%;
	}

	body .footer .footer-second-wrapper #block-block-2 p, body .footer .footer-second-wrapper #block-block-2 a, body .footer .footer-second-wrapper #block-block-3 p, body .footer .footer-second-wrapper #block-block-3 a{
		text-align: center;
	}

	body .footer .footer-second-wrapper .redes-logos-footer {
	  float: none;
	  margin: 0 auto;
	  width: 45px;
	}


	body .footer .footer-second-wrapper #block-webform-client-block-1, body .footer .footer-second-wrapper #block-webform-client-block-2, body .footer .footer-second-wrapper #block-webform-client-block-1--2, body .footer .footer-second-wrapper #block-webform-client-block-2--2 {
	  width: 252px;
	  margin: 0 auto;
	  float: none;
	}
	
	
	
	
	/************************/
	/************************/
	/************************/
	/************************/
	
	
	/*ANDREY S :: 16-03-2015*/
	.breadcrumb{
		display: none;
	}
	
	.pilares-titulo h2{
		font-size:19px;
		line-height: 20px;
	}
	.pilares-descri p{
		font-size: 20px;
		padding: 0px 10px;
		line-height: 20px;
	}	
	.box_icon {
		width: 100%;
	}
	.icon{
		margin-bottom: 22px;
	}
	.flexslider .slides img{
		height: auto !important;
		min-height: 0px !important;
	}
	#slider-home .flex-caption{
		position:relative;
		background-image: none;
		background-color: #00599C;
	}
	#slider-home .flex-caption .slider-home-title h3{
		font-size: 20px;
		line-height: 20px;
	}
	#slider-home .flex-caption .slider-home-desc p{
		font-size: 15px;
		margin-bottom: 5px;
		margin-top: 5px;		
	}
	#slider-home .flex-direction-nav{
		margin-top:auto;
		top: 25%;
	}
	body #slider-home .flex-direction-nav li a{
		display: block !important;
		width: 45px;
		height: 45px;
	}
	#slider-home .flex-direction-nav a.flex-prev,
	#slider-home .flex-direction-nav a.flex-next{
		background-size: 45px;
	}
	.pane-views-servicios-block .view-servicios .view-header h2,
	.pane-views-servicios-block-3 .view-servicios .view-header h2{
		font-size: 26px;
		margin: 40px 0px;
	}
	
	.pane-views-servicios-block .view-servicios .view-content .views-row,
	.pane-views-servicios-block-3 .view-servicios .view-content .views-row{
		float:none;
		width: 256px;
		margin: 0 auto;
		margin-bottom: 20px;	
	}
	.bloque-llamado-accion-contacto-inner{
		padding: 0px;
	}	
	.bloque-llamado-accion-contacto-texto p{
		float: none;
		font-size: 16px;
		line-height: 20px;
		text-align: center;	
	}
	.bloque-llamado-accion-contacto-boton a{
		display: block;
		float: none;
		width: 220px;
  		margin: 0 auto;
	}
	.bloque-home-caras-compromiso h2{
		font-size: 20px;
		line-height: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.bloque-home-caras-compromiso-rows{
		width: 100%;
	}
	.bloque-home-caras-compromiso-row{
		float:none;
		width: 256px;
		margin: 0 auto;
		margin-bottom: 20px;	
	}
	.view-blog .views-row.views-row-last{
		margin-right:auto;
	}
	.lineas{
		padding: 0px;
	}
	.lineas:before,
	.lineas:after {
		display:none;
	}
	.compromiso-pie p{
		font-size: 19px;
	}
	.view-blog{
		padding-bottom: 10px;
	}
	.view-blog .view-header h2{
		font-size: 26px;
		padding-top: 10px;
		padding-bottom: 10px;		
	}
	.view-blog .views-row{
		float:none;
		width: 93%;
		min-height:inherit;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.view-blog .views-row .views-field-title a{
		font-size: 19px;
		line-height: 20px;	
	}
	.view-blog .views-row .views-field-created{
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 14px;		
	}
	.view-blog .views-row .views-field-body p{
		margin-top: 10px;
		font-size: 15px;
	}
	
	/*QUE HACEMOS*/

	.view-id-imagen_top .views-field-nothing,
	.node-type-proyectos .view-id-imagen_top .views-field-nothing{
		width: 100%;
		margin-top: 0px;
		height: 100px;
	}	
	.page-node-50 .texto-hover-imagen-top .texto-hover-imagen-top-titulo h3,
	.page-node-51 .texto-hover-imagen-top .texto-hover-imagen-top-titulo h3{
		font-size: 18px;
		line-height: 19px;
	}
	.page-node-50 .texto-hover-imagen-top .texto-hover-imagen-top-texto,
	.page-node-51 .texto-hover-imagen-top .texto-hover-imagen-top-texto{
		font-size: 15px;
		line-height: 15px;
	}
	.submenu-list li{
		width: 100%;
		text-align:center;
	}
	
	#block-views-servicios-block-1 .view-content .views-row .servicio-imagen,
	#block-views-servicios-block-2 .view-content .views-row .servicio-imagen{
		width: 100%;
	}		
	#block-views-servicios-block-1 .view-content .views-row .servicio-texto,
	#block-views-servicios-block-2 .view-content .views-row .servicio-texto{
		width: 100%;
		padding: 20px 15px 10px 15px;
		margin-left: 0px;
	}
	#block-views-servicios-block-1 .view-content .views-row.views-row-2 .servicio-texto,
	#block-views-servicios-block-1 .view-content .views-row.views-row-4 .servicio-texto,
	#block-views-servicios-block-1 .view-content .views-row.views-row-6 .servicio-texto,
	#block-views-servicios-block-1 .view-content .views-row.views-row-8 .servicio-texto,
	#block-views-servicios-block-2 .view-content .views-row.views-row-2 .servicio-texto,
	#block-views-servicios-block-2 .view-content .views-row.views-row-4 .servicio-texto,
	#block-views-servicios-block-2 .view-content .views-row.views-row-6 .servicio-texto,
	#block-views-servicios-block-2 .view-content .views-row.views-row-8 .servicio-texto{
		margin-left: 0px;
	}
	#block-views-proyectos-block .bloque-proyectos-encabezado h3,
	#block-views-proyectos-block-1 .bloque-proyectos-encabezado h3{
		font-size: 21px;
		line-height: 23px;	
	}
	.view-proyectos .view-content{
		width: 95%;
	}
	.view-proyectos .views-row{
		/*width: 100%;*/
		float:none;
		display: block;
		width: 300px;
		margin: 0 auto;	
		margin-bottom: 30px;	
	}
	
	/*OBRAS QUE INSPIRAN*/
	.page-node-58 .texto-hover-imagen-top .texto-hover-imagen-top-titulo h3,
	.page-node-59 .texto-hover-imagen-top .texto-hover-imagen-top-titulo h3{
		width: 100%;
		font-size: 21px;
		line-height: 24px;
		padding-top: 10px;		
	}
	#page-title{
		font-size: 25px;
	}
	.node-type-page .field-name-body h3{
		font-size: 22px;
		line-height: 25px;		
	}
	.page-node-58 .view-filters,
	.page-node-59 .view-filters{
		width: 95%;
		margin: 0 auto;
		border-radius: 5px;
		margin-bottom: 30px;
	}
	#views-exposed-form-proyectos-block-2 .views-exposed-widget,
	#views-exposed-form-proyectos-block-3 .views-exposed-widget{
		width: 100%;
		padding: 0px;
		border-right: none;
	}
	.label-filtro{
		width: 100%;
		border-right: none;
	}
	#views-exposed-form-proyectos-block-2 select,
	#views-exposed-form-proyectos-block-3 select{
		width: 100%;
	}
	#views-exposed-form-proyectos-block-2 .views-exposed-widget .ajax-progress,
	#views-exposed-form-proyectos-block-3 .views-exposed-widget .ajax-progress{
		position:absolute;
		top: -55px;
	}
	
	/*DETALLE*/
	.node-type-proyectos .texto-hover-imagen-top .texto-hover-imagen-top-titulo h1{
		width: 100%;
		padding-top: 0px;
		font-size: 18px;
	}
	.node-type-proyectos .texto-hover-imagen-top .texto-hover-imagen-top-texto{
		font-size: 16px;
		line-height: 18px;
	}
	.node-proyectos .field-name-field-frase-entre-comillas p{
		font-size: 17px;
		line-height: 21px;
		padding: 0 10px;		
	}
	.node-proyectos .field-name-field-frase-entre-comillas p:before,
	.node-proyectos .field-name-field-frase-entre-comillas p:after{
		display:none;
	}
	.node-proyectos .field-name-field-frase-entre-comillas {
	  margin-bottom: 50px;
	}
	.titulo-ficha-tecnica{
		margin-bottom: 10px;
	}
	.go-down-azul{
		width: 311px;
		font-size: 17px;
	}
	.ficha-tecnica tr td{
		font-size: 15px;
		padding: 2px 5px;
	}
	.view-detalle-proyectos h2{
		font-size: 24px;
		padding-bottom: 15px;
		padding-top: 15px;		
	}	
	body .view-detalle-proyectos .flex-direction-nav li a{
		display: block !important;
	}
	.view-detalle-proyectos .views-field-field-historia-del-proyecto{
		padding-top: 15px;
	}
	.view-detalle-proyectos .field-content p{
		font-size: 15px;
		line-height: 21px;		
	}
	.view-proyectos .bloque-proyectos-encabezado h3{
		font-size: 24px;
		margin: 20px 0px;
	}
	/*TRABAJEMOS JUNTOS*/
	.texto-hover-imagen-top .texto-hover-imagen-top-titulo h3{
		width: 100%;
	}
	.texto-hover-imagen-top .texto-hover-imagen-top-titulo h3{
		font-size: 20px;
		line-height: 21px;
		padding-top: 25px;		
	}
	.node-type-page .field-name-body h3{
		font-size: 17px;
		line-height: 21px;		
	}
	.trabaje-con-nosotros-info div{
		width: 100% !important;
	}
	#block-webform-client-block-60.block-webform,
	#block-webform-client-block-61.block-webform{
		padding: 15px;
		width: 100%;
	}
	#block-webform-client-block-60.block-webform h2,
	#block-webform-client-block-61.block-webform h2{
		font-size: 19px;
		line-height: 24px;		
	}
	/*CONTACTO*/
	.page-node-66 .main .field-name-body p,
	.page-node-67 .main .field-name-body p{
		font-size: 18px;
		padding: 0 15px;
		line-height: 23px;		
	}
	#block-webform-client-block-64.block-webform,
	#block-webform-client-block-65.block-webform{
		width: 100%;
		padding: 15px;
	}
	body .trabaje-con-nosotros-info iframe{
		height: 300px;
	}
	/*BLOG*/
	.view-display-id-block_3 .texto-hover-imagen-top .texto-hover-imagen-top-titulo h1{
		width:100%;
	}
	.page-node-68 .node-page p,
	.page-node-69 .node-page p{
		font-size: 20px;
		line-height: 26px;
		padding: 0px;	
	}
	body .main-content .main,
	#sidebar-second{
		width: 100%;
	}
	body .view-blog .view-content{
		width: 100%;
	}
	.page-node-68 #block-views-blog-block-1 h2,
	.page-node-69 #block-views-blog-block-1 h2{
		margin-bottom: 0px;
	}
	.page-node-68 #block-views-blog-block-1 .view-blog .views-row h2 a,
	.page-node-69 #block-views-blog-block-1 .view-blog .views-row h2 a,
	.page-taxonomy-term .blog-categories .views-row h2 a{
		font-size: 20px;
		line-height: 22px;
		display: block;		
	}
	.page-node-68 #block-views-blog-block-1 .view-blog .views-row .field-name-post-date,
	.page-node-69 #block-views-blog-block-1 .view-blog .views-row .field-name-post-date,
	.page-taxonomy-term .blog-categories .views-row .field-name-post-date{
		margin: 10px 0;
		font-size: 15px;
	}
	.page-node-68 #block-views-blog-block-1 .view-blog .views-row .field-type-image img,
	.page-node-69 #block-views-blog-block-1 .view-blog .views-row .field-type-image img,
	.page-taxonomy-term .blog-categories .views-row .field-type-image img{
		width: 100%;
		height: auto;
	}
	.page-node-68 #block-views-blog-block-1 .view-blog .views-row .field-type-text-with-summary p,
	.page-node-69 #block-views-blog-block-1 .view-blog .views-row .field-type-text-with-summary p,
	.page-taxonomy-term .blog-categories .views-row .field-type-text-with-summary p{
		margin-top: 10px;
		font-size: 15px;
		line-height: 19px;		
	}
	#sidebar-second .webform-client-form.webform-client-form-2 .form-text{
		width: 180px;
	}
	#sidebar-second .webform-client-form.webform-client-form-1 .form-text{
		width: 165px;
	}
			
}