/* 
    Document   : responsive para moviles
    Created on : 05-feb-2014, 13:04:09
    Author     : Keylor Mora
    Description:
        This CSS is used to apply the Responsive Appereance to the website.
*/


@media only screen and (max-width : 640px) {
#block-system-main-menu {
		display:none;
	}
	
	.slicknav_menu {
		display:block;
	}

	#block-menu-menu-top-menu{
		display: none;
	}
	
	#block-search-form{
		display: none;
	}

	.top-menu-container {
	  height: 50px;
	  background-color: #00599C;
	  width: 50%;
	  position: absolute;
	  top: 0;
	}

	body .header .top-menu-container #block-lang-dropdown-language{
		border-right: 0;
	}

	.slicknav_nav a{
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-size: 17px;
	}

	#logo {
	  float: none;
	  
	  text-align: center;
	}

	body .footer .footer-first-wrapper #block-menu-menu-footer-menu ul li{
		width: 100% !important;
		text-align: center;
	}

	#block-block-1 {
	  text-align: center;
	}

	body .footer .footer-first-wrapper{
		width: 100%;
		float: none;
	}

	body .footer {
	  height: auto; 
	  padding-bottom: 50px;

	}

	body .footer .footer-second-wrapper {
	  width: 100%;
	}

	body .footer .footer-second-wrapper #block-block-2 p, body .footer .footer-second-wrapper #block-block-2 a, body .footer .footer-second-wrapper #block-block-3 p, body .footer .footer-second-wrapper #block-block-3 a{
		text-align: center;
	}

	body .footer .footer-second-wrapper .redes-logos-footer {
	  float: none;
	  margin: 0 auto;
	  width: 45px;
	}


	body .footer .footer-second-wrapper #block-webform-client-block-1, body .footer .footer-second-wrapper #block-webform-client-block-2, body .footer .footer-second-wrapper #block-webform-client-block-1--2, body .footer .footer-second-wrapper #block-webform-client-block-2--2 {
	  width: 252px;
	  margin: 0 auto;
	}
	
	
	
	
	/************************/
	/************************/
	/************************/
	/************************/
	
	
	/*ANDREY S :: 16-03-2015*/
	
	.pilares-titulo h2{
		font-size:19px;
		line-height: 20px;
	}
	.pilares-descri p{
		font-size: 20px;
		padding: 0px 10px;
		line-height: 20px;
	}	
	.box_icon {
		width: 100%;
	}
	.icon{
		margin-bottom: 22px;
	}
	.flexslider .slides img{
		height: auto !important;
		min-height: 0px !important;
	}
	#slider-home .flex-caption{
		position:relative;
		background-image: none;
		background-color: #00599C;
	}
	#slider-home .flex-caption .slider-home-title h3{
		font-size: 20px;
		line-height: 20px;
	}
	#slider-home .flex-caption .slider-home-desc p{
		font-size: 15px;
		margin-bottom: 5px;
		margin-top: 5px;		
	}
	#slider-home .flex-direction-nav{
		margin-top:auto;
		top: 25%;
	}
	body #slider-home .flex-direction-nav li a{
		display: block !important;
		width: 45px;
		height: 45px;
	}
	#slider-home .flex-direction-nav a.flex-prev,
	#slider-home .flex-direction-nav a.flex-next{
		background-size: 45px;
	}
	.pane-views-servicios-block .view-servicios .view-header h2,
	.pane-views-servicios-block-3 .view-servicios .view-header h2{
		font-size: 26px;
		margin: 40px 0px;
	}
	
	.pane-views-servicios-block .view-servicios .view-content .views-row,
	.pane-views-servicios-block-3 .view-servicios .view-content .views-row{
		float:none;
		width: 256px;
		margin: 0 auto;
		margin-bottom: 20px;	
	}
	.bloque-llamado-accion-contacto-inner{
		padding: 0px;
	}	
	.bloque-llamado-accion-contacto-texto p{
		float: none;
		font-size: 16px;
		line-height: 20px;
		text-align: center;	
	}
	.bloque-llamado-accion-contacto-boton a{
		display: block;
		float: none;
		width: 220px;
  		margin: 0 auto;
	}
	.bloque-home-caras-compromiso h2{
		font-size: 20px;
		line-height: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.bloque-home-caras-compromiso-rows{
		width: 100%;
	}
	.bloque-home-caras-compromiso-row{
		float:none;
		width: 256px;
		margin: 0 auto;
		margin-bottom: 20px;	
	}
	.view-blog .views-row.views-row-last{
		margin-right:auto;
	}
	.lineas{
		padding: 0px;
	}
	.lineas:before,
	.lineas:after {
		display:none;
	}
	.compromiso-pie p{
		font-size: 19px;
	}
	.view-blog{
		padding-bottom: 10px;
	}
	.view-blog .view-header h2{
		font-size: 26px;
		padding-top: 10px;
		padding-bottom: 10px;		
	}
	.view-blog .views-row{
		float:none;
		width: 93%;
		min-height:inherit;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.view-blog .views-row .views-field-title a{
		font-size: 19px;
		line-height: 20px;	
	}
	.view-blog .views-row .views-field-created{
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 14px;		
	}
	.view-blog .views-row .views-field-body p{
		margin-top: 10px;
		font-size: 15px;
	}
	
}