/* ==========================================================================
   =Base
   ========================================================================== */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  background: #fff;
  color: #333;
  font: 1em/1.75em 'Helvetica Neue', Arial, sans-serif;
  padding: 1em;
}

/*
  =LINKS
--------------------------------------------- */
a:link,
a:visited {
  border-bottom: 1px solid rgb(200,200,200);
  text-decoration: none;
  color: rgb(80,80,80);
  outline: none;
}

a:hover {
  border-bottom: 1px solid rgb(0,0,0);
  background: rgba(0,0,0,.05);
  color: rgb(0,0,0);
}

a:active {
  outline: none;
}

/*
  =SELECTIONS
--------------------------------------------- */

::-moz-selection {
  background: rgb(100,100,100);
  color: rgb(255,255,255);
  text-shadow: none;
  }

::selection {
  background: rgb(100,100,100);
  color: rgb(255,255,255);
  text-shadow: none;
  }

::selection:window-inactive {
  background: rgb(220,220,220);
  color: rgb(50,50,50);
  }

img::selection {
  background: transparent;
  }

img::-moz-selection {
  background: transparent;
  }

h1, h2, h3, h4, h5, h6 {
  -moz-font-feature-settings: "liga=1, kern=1";
  -ms-font-feature-settings: "liga" 1, "kern" 1;
  -webkit-font-feature-settings: "liga" 1, "kern" 1;
  -o-font-feature-settings: "liga" 1, "kern" 1;
  font-feature-settings: "liga" 1, "kern" 1;
  text-rendering: optimizeLegibility;
  margin-bottom: 1.42382em;
  font-weight: normal;
}

h1 {
  font: italic 2em/1.125em Baskerville, "PTSerifCustom", Times, "Times New Roman", serif;
  margin: 1em 0 0.46981em;
}

h2 {
  line-height: 1.77777em;
  margin-bottom: 1em;
  font-size: 1.2em;
  }

h3 {
  margin: 1.7em 0 .85em;
  line-height: 1.5em;
  font-size: 1.3em;
  }

h4 {
  line-height: 1.12382em;
  margin: 0 0 1.3em;
  font-size: 1.2em;
  }

h5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5em;
  margin: 0 0 1.5em;
  font-size: 1em;
  }

h6 {
  font-weight: bold;
  margin: 0 0 1.5em;
  }

p,
li {
  font-size: 1em;
  line-height: 1.75em;
}
p,
ul,
ol,
dl,
blockquote {
  margin-bottom: 1.5em;
}
ul {
  list-style: disc outside;
}
strong, b {
  font-weight: bold;
  }

i, em, blockquote {
  font-style: italic;
  }
blockquote {
  margin: 1.5em 0 1.5em 1.80203em;
  position: relative;
  color: rgb(90,90,90);
}
blockquote:before {
  -webkit-font-smoothing: antialiased;
  color: rgb(140,140,140);
  font-size: 3.60406em;
  position: absolute;
  font-style: italic;
  content: "\201C";
  line-height: 1em;
  left: -0.60180em;
  top: 0;
}

code {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.875em;
  line-height: 1.4285em;
  padding: 0 0.14285em;
  background: #fff480;
}
abbr {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  cursor: help;
}

sub, sup {
  vertical-align: baseline;
  position: relative;
  font-size: 65%;
  line-height: 0;
  }

sub {
  bottom: -0.25em;
  }

sup {
  top: -0.5em;
  }
small {
  font-size: 0.667em;
}
img, embed, object, video {
  max-width: 100%;
  height: inherit;
  _width: 100%;
  }
